/* first section  */
.banner-card{
    position: relative;
}

.banner-card img{
    min-width: 100px;
    height: auto;
}

.banner-text{
    text-align: center;
    margin-left: 450px;
    position: absolute;
    top: 15%;
    color: wheat;
    padding: 20px;
}

.text-up{
    font-size: 30px;
}
.text-middle{
    font-size: 40px;
    font-weight: bold;
}

/* start second section   */
.main-container{
    margin-top: 70px;
    align-items: center;
    text-align: center;
}
.text-container h1{
    font-size: 40px;
    color: rgb(229, 92, 42);
}
.text-container h3{
    color: orangered;
}
.text-container h2{
    font-size: 30px;
}

/* start third section  */
.second-banner-container{
    margin-top: 50px;

}
.s-banner-card{
    position: relative;
}

.s-banner-card img{
    min-width: 100px;
    height: auto;
}

.second-banner-text-container{
    margin-left: 50px;
    position: absolute;
    top: 20%;
    color: white;
}
.second-banner-text-container h2{
    font-size: 50px;
}
.second-banner-text-container p{
    font-size: 15px;
}

/* start fourth section  */
.fourth-container{
    margin-top: 30px;
    background-color: bisque;
}
.box-container{
    padding: 30px;
    align-items: center;
    text-align: center;

}
.box-container h3{
    font-size: 20px;
}
.box-container span{
    color: orangered;
}
.box-container button{
    padding: 5px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}